/*=== HEADER ===*/
header {
  background-color: #e4350d;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo-field {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-field img {
  height: 40px;
}

.logo-field h1 {
  color: white;
}

.search-field {
  height: 40px;
  width: 240px;
  background-color: #baf1f0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0px 4px;
}

.search-bar {
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #baf1f0;
  gap: 8px;
  border-radius: 8px;
}

.search-bar img {
  height: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  padding-left: 4px;
}

.search-input {
  height: 32px;
  border: none;
  padding-left: 4px;
  width: 100%;
  border-radius: 8px;
}

/*=== MAIN ===*/
main {
  background-image: url("assets/img/pokedex-cover.png");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
}

.pokemon-list {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.pokemon-card {
  width: 16%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 4px solid #bbf2f0;
  border-radius: 12px;
  transition: transform 0.12s ease-in-out;
}

.pokemon-card:hover {
  transform: translateY(-2px);
}

.pokemon-card-sprite {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-card img {
  background-color: #d3d4db;
  height: 90%;
  border-radius: 50%;
}

.pokemon-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  gap: 8px;
}

.pokemon-card-types {
  display: flex;
  gap: 16px;
}

.pokemon-card-type {
  background-color: #d3d4db;
  padding: 4px;
}
