* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.widescreen {
  max-width: 1440px;
  margin: 0 auto;
}

.x-paddings {
  padding-left: 60px;
  padding-right: 60px;
}

.y-paddings {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* FONTS */

nav h1 {
  font-size: 40px;
  color: #ee1a24;
}

.pokemon-card p {
  font-size: 16px;
  color: #818da2;
}

.pokemon-card h2 {
  font-size: 20px;
  color: #2d3748;
  font-weight: bold;
  text-transform: capitalize;
}

.dialog-pokemon-name {
  text-transform: capitalize;
}
